<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="https://hgamgsers.github.io/favicon.ico" type="image/x-icon">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>{{ site.title }}</h1></a>
        <p>{{ site.description }}</p>
        <br>
        <strong>
          <a href="https://www.roblox.com/users/17800610/profile">Roblox</a><br>
          <a href="https://namemc.com/profile/hgamgsers.1">Minecraft</a><br>
        </strong>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <strong><a href="https://saweria.co/hgamgsers">Donate (INDONESIAN ONLY)</a><br></strong>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
